.comment{ id: comment.short_id }
  %span.upvote
  %span.downvote
  %span.hide-comment
  .comment-line1
    %span.author= link_to comment.user.username, "#"
    %span= submitted_time_text(comment)
    |
    %span.link= link_to t(".link"), "##{comment.short_id}", data: { turbolinks: false }
    |
    %span.link= link_to t(".reply"), "", class: "reply"
  - if comment.children.any? || (comment.parent_id.present? && comment.children.any?)
    .comment-tree-line
  .comment-content
    .comment-body.latex-container.markdownable{ id: "tree_#{comment.short_id}" }
      = sanitize CommonMarker.render_html(comment.body.gsub("\\", "\\\\\\"))
    .comment-reply-box{ id: "reply_#{comment.short_id}" }
      = render "comments/form", comment: Comment.new, parent: comment
    .comment-replies{ id: "replies_#{comment.short_id}" }
      - comment.children.each do |child|
        = render "comments/comment", comment: child
