.submission{ id: "submission_#{submission.id}" }
  .submission-line1
    %span.submission-link= link_to(submission.title, submission_href_for(submission))
    %span.submission-tags
      - submission.tags.each do |tag|
        = render "shared/tag", tag: tag
    %span.submission-info
      %i= submission.domain.name if submission.domain.present?
  .submission-line2
    %span.submission-info
      = submitted_by_text(submission)
    %span.submission-user
      = link_to submission.user.username, "#"
    %span.submission-info
      %span.submission-time
        = submitted_time_text(submission)
    %span.submission-info
      = link_to t(".hide"), "#"
      = link_to t(".save"), "#"
    %span.submission-comments
      = link_to t(".comments", count: 25), "#"
