= render "submission_list_item", submission: @submission
.submission-body.latex-container.markdownable
  = sanitize CommonMarker.render_html(@submission.body.gsub("\\", "\\\\\\")) if @submission.body.present?
.comments-container
  = render "comments/form", comment: @root_comment, parent: nil
  = render "comments/comment_tree", comments_by_parent: @comments_by_parent

= javascript_pack_tag :latex
= javascript_pack_tag "submission_actions"
= javascript_pack_tag "comment"
