.footer
  - if current_user.present?
    - if current_user.admin? || current_user.moderator?
      .footer-links
        %ul
          %li= link_to t("footer.admin_menu.tags"), admin_tags_path
          %li= link_to t("footer.admin_menu.submission_removals"), admin_submission_removals_path
    .footer-links
      %ul
        %li= link_to t("footer.submissions.user"), user_submissions_path(current_user.username)
        %li= link_to t("footer.submissions.saved"), marked_submissions_path(submission_action: :saved)
        %li= link_to t("footer.submissions.hidden"), marked_submissions_path(submission_action: :hidden)
        %li= link_to t("footer.links.sign_out"), destroy_user_session_path, method: :delete
  .footer-links
    %ul
      %li= link_to t("footer.links.about"), pages_path("about")
      %li= link_to t("footer.links.rules"), pages_path("rules")
      %li= link_to t("footer.links.source"), "https://github.com/psc-al/simple_group",
          target: "_blank", rel: "noopener"
