.navbar
  .navbar-elements
    .navbar-brand
      %a{ href: root_path }
        %span.navbar-brand-logo
          = image_tag("logo.png")
        %span.navbar-brand-name
          = t("branding.organization_name")

    .navbar-links
      %ul
        %li
          %span= link_to t("navigation.links.recent"), "#"
        - if current_user.present?
          %li
            %span= link_to t("navigation.links.submit"), new_submission_path
          %li
            %span= link_to t("navigation.links.inbox"), "#"
        %li
          %span= link_to(*users_link_for(current_user))
