!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %title SimpleGroup
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_pack_tag "application", "data-turbolinks-track": "reload"
    - if content_for?(:page_styles)
      = yield :page_styles
  %body
    = render "layouts/navbar"
    #flash-container
      - flash.each do |flash_type, flash_message|
        %label.flash-message
          %input{ type: "checkbox" }
          .flash{ class: "flash-#{flash_type}" }
            = flash_message
            %span.flash-close x
    .application-container
      = yield
